@import 'tailwindcss';

@theme {
  --font-primary: 'Poppins';

  --color-theme-primary: hsl(243, 100%, 68%);
  --color-theme-secondary: hsl(27, 96%, 69%);
  --color-theme-tertiary: hsl(170, 65%, 60%);
  --color-theme-accent: hsl(198, 93%, 68%);
  --color-theme-dark: hsl(216, 11%, 18%);
  --color-theme-light-grey: hsl(240, 20%, 90%);
  --color-theme-light: hsl(240, 20%, 98%);

  --traX-icon: 0;
}

@layer base {
  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-theme-dark);
    border-radius: 5px;
    border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
  }

  /* Firefox */
  * {
    scrollbar-color: var(--color-theme-dark) transparent;
    scrollbar-width: thin;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-black.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

html {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}