<section id="banner" class="2lg:relative py-20 text-center bg-gradient-to-b from-theme-light to-transparent from-50% to-50%">
  <div
    class="bg-theme-primary text-theme-light 2lg:rounded-3xl mx-auto flex max-w-[1200px] flex-wrap items-center justify-center gap-12 px-4 sm:relative sm:justify-start sm:overflow-hidden sm:px-16 sm:pb-16 sm:pl-20 sm:pt-8 sm:text-left"
  >
    <div class="sm:relative sm:z-10 sm:max-w-[500px] sm:text-balance">
      <h2 class="my-6 text-[clamp(2rem,8vw,2.5rem)] font-semibold">
        Set up personalized job search alerts
      </h2>

      <button
        type="submit"
        class="bg-theme-light text-theme-primary mx-auto flex h-12 w-max items-center justify-center gap-1 rounded-xl pl-8 pr-6 text-sm font-medium sm:m-0"
      >
        <span>Sign Up</span>
        <svg
          class="arrow"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5L16 12L9 19"
            stroke="Currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>

    <div
      class="2md:opacity-100 2md:w-[550px] max-w-[600px] sm:absolute sm:right-8 sm:top-8 sm:h-[70%] sm:w-auto sm:opacity-40"
    >
      <img src="/banner.svg" alt="" class="w-full object-cover" />
    </div>
  </div>
</section>
