<footer id="footer" class="pb-16">
  <div class="mx-auto max-w-[1200px] px-4">
    <div
      class="2md:flex-nowrap flex flex-wrap items-start justify-start gap-x-24 gap-y-16 text-left"
    >
      <div class="2md:w-auto mr-auto w-full">
        <div class="m-0 mb-4 flex items-center justify-start gap-2">
          <img src="/favicon.svg" alt="Imagen del logo" class="w-8 object-cover" />
          <span class="font-medium">Hirace</span>
        </div>
        <p class="max-w-[300px]">Find job you love and research the fastest-growing companies.</p>
      </div>

      <ul
        class="[&>a:hover]:text-theme-primary flex flex-col items-start justify-start gap-3 leading-tight"
      >
        <h3 class="text-theme-dark/70 mb-2 font-medium">Product</h3>
        <a href="#">Remote Job</a>
        <a href="#">Startup</a>
        <a href="#">Investor & Board</a>
        <a href="#">Company</a>
      </ul>

      <ul
        class="[&>a:hover]:text-theme-primary flex flex-col items-start justify-start gap-3 leading-tight"
      >
        <h3 class="text-theme-dark/70 mb-2 font-medium">Features</h3>
        <a href="#">For Candidate</a>
        <a href="#">For Company</a>
        <a href="#">Society</a>
      </ul>

      <ul
        class="[&>a:hover]:text-theme-primary flex flex-col items-start justify-start gap-3 leading-tight"
      >
        <h3 class="text-theme-dark/70 mb-2 font-medium">About Us</h3>
        <a href="#">Documentation</a>
        <a href="#">Contact Us</a>
        <a href="#">Career</a>
      </ul>
    </div>

    <hr class="border-theme-light-grey mb-8 mt-16 w-full border outline-0" />

    <div class="flex items-center justify-between leading-none text-theme-dark/65 font-medium flex-wrap text-sm gap-6">
      <div class="page-foot__copyright">&copy; 2025 Hirace Tecnologies Inc</div>
      <div class="flex justify-center items-center gap-20">
        <ul class="flex items-center justify-center gap-3 [&>a:hover]:text-theme-dark/80">
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Legal</a>
        </ul>

        <ul class="flex justify-center items-center gap-3 [&>a]:grayscale-100 [&>a:hover]:grayscale-0">
          <a href="#">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_715_98)"></circle>
              <path
                d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z"
                fill="white"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_715_98"
                  x1="8"
                  y1="1"
                  x2="8"
                  y2="14.9585"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#18ACFE"></stop>
                  <stop offset="1" stop-color="#0163E0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </a>
          <a href="#">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"></rect>
              <path
                d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z"
                fill="white"></path>
              <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"></path>
              <path
                d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z"
                fill="white"></path>
            </svg>
          </a>
          <a href="#">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M11 5H10V8H11V5Z" fill="#6445A2"></path>
              <path d="M7.5 5H8.5V8H7.5V5Z" fill="#6445A2"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 4L3.28399 2H14V9.5L11 12.5H8.5L6.943 14H5V12.5H2.5V4ZM11 10.5L13 8.5V3H4.5V10.5H6.5V12L8 10.5H11Z"
                fill="#6445A2"></path>
            </svg>
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>
