---
import { ClientRouter } from 'astro:transitions'

import '@/styles/global.css'
import Header from '@/components/Header.astro'
import TrustedByCompanies from '@/components/TrustedByCompanies.astro'
import Footer from '@/components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hirace | Find a better job</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Preload de las fuentes para que no se vea el cambio de fuente al cargar la pagina -->
    <link
      rel="preload"
      href="/fonts/Poppins-light.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/poppins-medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Poppins-bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Poppins-black.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta
      name="description"
      content="We are introducing a new way to find a job. Hirace is a platform that connects you with the best companies in the world"
    />

    <meta property="og:url" content="https://www.hirace.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hirace a new way to find a job" />
    <meta
      property="og:description"
      content="Platform that connects you with the best companies in the world"
    />
    <meta property="og:image" content="https://www.infolavelada.com/og.jpg" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="La Velada del Año V" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@infoLaVelada" />
    <meta name="twitter:creator" content="@ibaiLlanos" />
    <meta name="twitter:title" content="La Velada del Año V de Ibai Llanos" />
    <meta
      name="twitter:description"
      content="Platform that connects you with the best companies in the world"
    />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <TrustedByCompanies />
    <Footer />
  </body>
</html>

<style>
  html {
    scrollbar-gutter: stable;
  }
  
  html,
  body {
    background: #FFF;
  }
</style>
